future
six
python-dateutil
pytz
jsonschema >= 2.6.0
jsondiff >= 1.2.0
strict-rfc3339
mysqlclient >= 1.3.12
pymongo >= 4.8.0
mmcif >= 0.91.0
rcsb.utils.config >= 0.40
rcsb.utils.io >= 1.46
rcsb.utils.multiproc >= 0.19
rcsb.utils.chemref >= 0.91
scandir; python_version < "3.0"
configparser; python_version < "3.0"
rcsb.utils.dictionary >= 1.29
rcsb.utils.repository >= 0.48
#
SQLAlchemy == 1.4.46; sys_platform == 'linux'
# For crate and cockroach -
crate
psycopg2-binary
